/* RESET */

h1, p, ul, body {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* General */

body {
  background-color: hsl(257, 40%, 49%);
  background-image: url(images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 30px;
}

/* Header */

#logo {
  max-width: 50%;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100%;
  margin: 40px auto;
}

main h1, main p {
  margin-bottom: 30px;
  color: white;
  text-align: center;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.7em;
}

p, #btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

#btn {
  background-color: white;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 25px;
  color: hsl(257, 40%, 49%);
  margin-bottom: 30px;
  cursor: pointer;
}

footer p {
  color: white;
}

/* Footer */

nav ul {
  display: flex;
  justify-content: center;
}

footer svg {
  width: 30px;
  padding: 10px;
  margin: 10px;
  fill: white;
  border: 2px solid white;
  border-radius: 50%;
  transition: .3s ease-in-out;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 10px;
}

.attribution a {
  color: white;
}

/* Grid Templates */

.left {
  grid-area: left;
}

.rigth {
  grid-area: rigth;
}

/* Queries */

@media(min-width:1300px) {
  body {
    display: grid;
    grid-template-areas: "left rigth";
    grid-template-columns: 1fr 1fr;
    height: 90vh;
    grid-gap: 30px;
  }
  .left {
    display: grid;
    align-content: center;    
  }

  

  
  h1 {
    font-size: 3.5em;
    text-align: left !important;
  }
  main p {
    font-size: 1.5em;
    text-align: left !important;
  }
  img, main {
    align-self: center;
  }
  #btn {
    align-self: flex-start;
    transition: .3s linear;
  }
  #btn:hover {
    background-color: transparent;
    border: solid 2px white;
    color: white;
  }
  footer svg:hover {
    transform: scale(1.8);
    border: solid 2px transparent;
  }
  footer {
    align-self: flex-end;
    justify-self: flex-end;
  }
}